body {
  background: #37474f url("../img/background_raindrops.jpg") 0px 0px fixed;
  background-size: cover;
}

nav, #footer {
  width: 100%;
  background-color: #37474fb7;
  height: 60px;
}

#nav-buttons {
  display: flex;
  justify-content: center;
}

.nav-button {
  margin: 0 7vw;
  border-radius: 8px;
  font-size: 1.3em;
}

#footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.card {
  border-radius: 8px;
  padding: 20px;
  background-color: #37474fb7;
}

#name, #slogan {
  text-align: center;
}

#profile-img1, #profile-img2 {
  margin: 25px auto;
  border-radius: 5%;
  width: 100%;
}

#reveal {
  padding: 5%;
  background-color: #37474fe8;
}

.modal {
  overflow-x: hidden;
}

.heading {
  position: relative;
  width: 110%;
  right: 5%;
  overflow: hidden;
}

#card-icons{
  display: flex;
  justify-content: space-evenly;
}

.project-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #bcc3f8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.project-image {
  border-radius: 8px;
}

.project-description {
  text-align: center;
  padding-left: 25px;
}

p img {
  float: right;
  margin: 20px;
  width: 50%;
}

@media only screen and (max-width: 480px){
  .project-image {
    width: 100px;
  }
}